{% extends 'base.html' %}

{% block title %}{{ competition }}{% endblock %}

{% block content %}
<h1>{{ competition }}</h1>
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'competition:results' competition.pk %}">Výsledky</a>
    <a class="list-group-item list-group-item-action" href="{% url 'competition:submit' competition.pk %}">Odovzdávač</a>
    <a class="list-group-item list-group-item-action" href="{% url 'competition:import' competition.pk %}">Pridanie
        účastníkov</a>
</div>
{% endblock %}