{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ competition }} &ndash; Odovzdaj{% endblock %}

{% block content %}

{% crispy form %}

{% if history %}
<div class="list-group">
    {% for match in history|slice:":10" %}
    <a class="list-group-item list-group-item-action" target="_blank" href="{% url 'admin:competition_match_change' match.pk %}">
        <strong>Víťaz:</strong> {{ match.winner }} | <strong>Porazený:</strong> {{ match.loser }}
        <span class="float-right">{{ match.time|date:"H:i:s (d. m. Y)" }}</span>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}